/* seccion de estilos css3 para la pagina web */
body{
background: white ;
background-image: url(/IMG/NATACION.jpg) ;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
}
/* seccion de estilos CSS3 para la cabecera pagina web */
header{
    background-color: ;
    border: 2px solid blue;
    border-radius: 20px 20px 10px 10px;
    display: flex;
    flex-direction: row;/*direccion horizontal o en fila*/
    justify-content: center;/*alinea horizontalmente*/
    align-items: center;/*alinea verticalmente*/
}
header img{
    padding: 15px;
}
/* seccion de estilos CSS3 para la barra de menu pagina web*/
nav{
    background-color: silver(147, 189, 243);
    border: 2px solid rgb(44, 62, 226);
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
nav ul{
    padding: 0 0;
    margin: 0 1px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 0 5px;
    font: bold 12px verdana;
}
/* seccion de estilos CSS3 para seccion principal pagina web */
section{
    width: 40%;
    border: 1px solid rgb(35, 50, 184);
    padding: 10px 10px;
    border-radius: 20px;
    margin: 10px auto;
    background: linear-gradient(rgb(43, 63, 179),aqua);
}
form{
    background: rgb(118, 194, 212);
    width: 70%;
    border-radius: 20px;
    margin: 10px auto;
    box-shadow: linear-gradient(navy,blue);
}
fieldset{
    border-style: none;
}
label{
    font-size: 18px;
}
textarea{
    resize: both;
    max-height: 100px;
}
input:focus , textarea:focus{
border-color: rgb(44, 41, 241);
cursor: pointer;
box-shadow: inset 0 0 8px rgba(38, 68, 204, 0.6);
outline: 0 none;
}
form button{
    width: 40%;
    margin: 15px 0px 20px 25px;
    height: 40px;
    background: radial-gradient(rgb(82, 177, 201),rgb(37, 66, 233));
    border: 2px solid black;
    color: white;
    border-radius: 15px 15px;
}
form button:hover{
    background: lightblue;
    text-decoration: underline;
    cursor: pointer;
}
form input{
    height: 20px;
    box-sizing: border-box;
    color: black;
    outline: none;
    border: 1px solid black;
}
/* seccion de estilos CSS3 para el pie de pagina de pagina web */
footer{
    font-size: 16px;
    text-align: center;
    color: darkblue;
}